<div class="header-container">
  <div class="header-options-looged-out">
    <span class="header-home">Home</span>
  </div>
  <div class="header-options-looged-in">
    <span class="header-home menu-option">Home</span>
    <span class="header-deals menu-option">Create Deals</span>
    <span class="header-stats menu-option">Stats</span>
  </div>
</div>