<div id="login-container" class="container">
  <div class="form-container" id="login-form-container">
    <div class="username">
      Username
    </div>
    <div class="password">
      password
    </div>
    <div class="submit">
      Submit
    </div>
    <div class="register">
      register
    </div>
  </div>
</div>