<div id="profile-container">
  <div id="store-general-info">
    <div id="name">{{name}}</div>
    <div id="address">{{address}}</div>
    <div id="city">{{city}}</div>
    <div id="zip">{{country}}</div>
  </div>
  <div id="store-custom-profile">
  </div>
</div>  