<div id="registration-container" class="registration">
  <div class="form-container" id="registration-form-container">
    <div class="username">
      Username
    </div>
    <div class="password">
      password
    </div>
    <div class="confirm-password">
      confirm-password
    </div>
    <div class="submit">
      Create
    </div>
  </div>
</div>